<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreLab1.SettingsUser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PreLab1.SettingsAdmin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PreLab1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PreLab1.SettingsUser>
            <setting name="User_CheckSquare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_CheckRound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_CheckTriangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_rBtnEasy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User_rBtnNormal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_rBtnHard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_rBtnCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_diffCustomNum1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User_diffCustomNum2" serializeAs="String">
                <value>0</value>
            </setting>
        </PreLab1.SettingsUser>
        <PreLab1.SettingsAdmin>
            <setting name="Admin_CheckSquare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_CheckTriangle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Admin_CheckRound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_rBtnEasy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_rBtnNormal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_rBtnHard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_rBtnCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin_diffCustomNum1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Admin_diffCustomNum2" serializeAs="String">
                <value>0</value>
            </setting>
        </PreLab1.SettingsAdmin>
        <PreLab1.Settings1>
            <setting name="User_CheckSquare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_CheckRound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_CheckTriangle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_rBtnEasy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User_rBtnNormal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_rBtnHard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_rBtnCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_diffCustomNum1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User_diffCustomNum2" serializeAs="String">
                <value>0</value>
            </setting>
        </PreLab1.Settings1>
    </userSettings>
</configuration>